header .container{
	background-color: #b12125 !important;
}

 .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
 	background-color: #b12125 !important;
 }

 .skin-blue .main-header .logo {
 	background-color: #b12125 !important;
 }

.main-header .logo .logo-lg{
	background-color: #b12125 !important;
}